<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Hooks</title>
</head>

<body>
  <div style="text-align: center;">
    <h1>Angular Hooks</h1>
    <div>
      <button (click)="increment()">Increment</button>
      <button (click)="decrement()">Decrement</button>
      <button (click)="add()">Add</button>
      <app-child [myCounter]="counter" [num2]="num2" [numbers]="numbers"> Coming from parent component using ng-content
        tag in child</app-child>
    </div>
  </div>
</body>

</html>